html {
    margin:0;
    padding:0;
    border:0;
}

body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside,  figure, header,
hgroup, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
body {
    text-align: left;
    direction: ltr;
    color: #FFFFFF;
    font-size: 12px;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-weight: normal;
}

* {
    background-repeat: no-repeat;
    background-position: top left;
}
#opdrop{position:fixed; top:0px; left:250px; background:#777;  width:200px; border-radius: 0 0 10px 10px;  text-align:center; height:40px;}
#opdrop a{display:inline;}

#flag.ru {
    background-image:url(../img/Russia.png);
    position:relative;
    margin-left:5px;
    width:16px;
    height:16px;
    float:left;
}
#flag.br {
    background-image:url(../img/Britain.png);
    position:relative;
    margin-left:5px;
    width:16px;
    height:16px;
    float:left;
}
#guys
{

    top:-65px;
    float:right;
    position:relative;
}
h2 {
    font-size: 16px;
    font-weight: bold;
}

h3 {
    font-size: 13px;
    font-weight: bold;
}
#logoo
{
	 top:-65px;
    float:left;
    position:relative;
}

a {
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

br {
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
}

*.clear {
    clear: both;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
}
table {
    border-collapse: collapse;
    margin: 0;
    line-height: 27px;
    empty-cells: show;
	margin-top:0;
	position:absolute; 
	width:500px; 
	padding:2px; 
	border:none;"
}
table td{
    text-align:left;
}



/* --- BODY --- */
body {
    background-image: url(../img/winter.jpg);
    background-position: center top;
    background-color: #64450E;
    min-width: 990px;
    height: 100%;
}





/* --- Content --- */
div#content {
    clear: both;
    margin: 0 auto;
    width: 800px;
    min-height: 500px;
    position: relative;
}




div#content div#contentContent {
    position: relative;
    width: 754px;
    min-height: 490px;
    background-image: url(../img/contentContent.png);
    background-repeat: repeat-y;
    padding: 0px 23px 15px;
    border-radius:10px;
}













/* --- GENERAL --- */
div.home div.wrapperLeft {
	width: 358px;
	float: left;
}

div.home div.wrapperRight {
	width: 358px;
	float: right;
}

div.home div.separatorSmall {
	width: 350px;
	position: relative;
	height: 44px;
	padding-top: 16px;
	margin-bottom: -10px;
}

div.home div.separatorLeft {
	background-image: url(../img/separatorLeft.png);
	margin-left: -50px;
	padding-left: 55px;
}

div.home div.separatorRight {
	background-image: url(../img/separatorRight.png);
	margin-right: -50px;
	text-align: right;
	padding-right: 55px;
}

/* --- INFOBOX --- */
div.home h2 {
	text-align: center;
	padding-top: 10px;
}

div.home div#infoBox {
	width: 407px; /* 757px */
	height: 143px; /* 150px */
	text-align: right;
	background-image: url(../img/infoBackground.png);
	padding: 17px 30px 0 320px;
	line-height: 19px;
	margin-bottom: 5px;
}



/* --- NEWSBOX --- */
div.home div#newsBoxWrapper {
	width: 358px;
	height: 174px;
	overflow: hidden;
	background-image: url(../img/newsBox.png);
    border-radius:30px;
	float: left;
    border: 1px solid #fff;
}
div.home div#newsBoxWrapper2 {
    width: 799px;
    height: 300px;
    overflow: hidden;
    background-color:#FFF;
    background:rgba(255,255,255,0.5);
    border-radius:30px;
    float: left;
    border: 1px solid #fff;
}
div.home div#newsBox {
	width: 338px;
	height: 260px;
	margin: -5px;
	overflow-x: hidden;
	overflow-y: auto;
}
div.home div#newsBox2 {
    opacity: 1;
    width: 799px;
    height: 260px;


}

a.buton{
    background:#2981E4;
    padding:5px 10px;
    text-decoration:none;
    color:#fff;
    font:bold 20px Arial, Helvetica, sans-serif;
    border-radius: 7px;
    box-shadow: 0 1px 2px #000;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}

a.buton:hover{
    background-color:#006699;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

a.forumbutton {
    background: gray; 
    color: white;
    text-decoration: none;
    font: bold 20px Arial; 
    position: relative;
		top: 0; 
    bottom: -12px; 
		margin-bottom: 12px;
    -moz-box-shadow: 0 -15px 5px gray inset;
    -webkit-box-shadow: 0 -15px 5px gray inset;
    box-shadow: 0 -15px 5px gray inset;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

a.forumbutton, a.forumbutton:after {
    display: inline-block;
    padding: 10px 15px; 
    -moz-border-radius: 8px/15px;
    -webkit-border-radius: 8px/15px;
    border-radius: 8px/15px;
    outline: none;
}

a.forumbutton:after { 
    content: "";
    position: absolute;
    padding: 0;
    z-index: -1;
    bottom: inherit;
    left: 0;
    width: 100%;
    height: 100%;
    background: #74605f; 
    -moz-box-shadow: 1px 0 3px gray;
    -webkit-box-shadow: 1px 0 3px gray;
    box-shadow: 1px 0 3px gray;
}

a.forumbutton:hover {
    -moz-box-shadow: 0 25px 5px rgba(95, 95, 95, 0.7) inset;
    -webkit-box-shadow: 0 25px 5px rgba(95, 95, 95, 0.7) inset;
    box-shadow: 0 25px 5px rgba(95, 95, 95, 0.7) inset;
    background: #7C6A6A; 
}

a.forumbutton:active {
    top: 12px; 
    bottom: 0;
    -moz-box-shadow: 0 -20px 5px gray inset, 1px 1px 2px #eee;
    -webkit-box-shadow: 0 -20px 5px gray inset, 1px 1px 2px #eee;
    box-shadow: 0 -20px 5px gray inset, 1px 1px 2px #eee;
}

#flags {
    text-align: center;
}
#region_select {
    background-color: #a7a5a6;
    border: 0 none;
    color: #000;
    font-size: 10px;
    margin-right: 15px;
    padding: 1px 0 1px 4px;
    position: relative;
    text-transform: uppercase;
    top: -2px;
    width: 120px;
}
#flags div {
    display: inline;
}
#flag_box img {
    background-image: url("../img/flags/country_sprite.png");
    height: 11px;
    margin-top: 7px;
    width: 16px;
}
.ie6 #flag_box img {
    background-image: url("../img/flags/country_sprite.gif");
}
#flag_box a {
    margin: 4px;
}
.flag_ad {
    background-position: 0 0;
}
.flag_ae {
    background-position: -16px 0;
}
.flag_arabia {
    background-position: -3968px 0;
}
.flag_af {
    background-position: -32px 0;
}
.flag_ag {
    background-position: -48px 0;
}
.flag_ai {
    background-position: -64px 0;
}
.flag_al {
    background-position: -80px 0;
}
.flag_am {
    background-position: -96px 0;
}
.flag_an {
    background-position: -112px 0;
}
.flag_ao {
    background-position: -128px 0;
}
.flag_ar {
    background-position: -144px 0;
}
.flag_as {
    background-position: -160px 0;
}
.flag_at {
    background-position: -176px 0;
}
.flag_au {
    background-position: -192px 0;
}
.flag_aw {
    background-position: -208px 0;
}
.flag_ax {
    background-position: -224px 0;
}
.flag_az {
    background-position: -240px 0;
}
.flag_ba {
    background-position: -256px 0;
}
.flag_bb {
    background-position: -272px 0;
}
.flag_bd {
    background-position: -288px 0;
}
.flag_be {
    background-position: -304px 0;
}
.flag_bf {
    background-position: -320px 0;
}
.flag_bg {
    background-position: -336px 0;
}
.flag_bh {
    background-position: -352px 0;
}
.flag_bi {
    background-position: -368px 0;
}
.flag_bj {
    background-position: -384px 0;
}
.flag_bm {
    background-position: -400px 0;
}
.flag_bn {
    background-position: -416px 0;
}
.flag_bo {
    background-position: -432px 0;
}
.flag_br {
    background-position: -448px 0;
}
.flag_bs {
    background-position: -464px 0;
}
.flag_bt {
    background-position: -480px 0;
}
.flag_bv {
    background-position: -496px 0;
}
.flag_bw {
    background-position: -512px 0;
}
.flag_by {
    background-position: -528px 0;
}
.flag_bz {
    background-position: -544px 0;
}
.flag_ca {
    background-position: -560px 0;
}
.flag_catalonia {
    background-position: -576px 0;
}
.flag_cc {
    background-position: -592px 0;
}
.flag_cd {
    background-position: -608px 0;
}
.flag_cf {
    background-position: -624px 0;
}
.flag_cg {
    background-position: -640px 0;
}
.flag_ch {
    background-position: -656px 0;
}
.flag_ci {
    background-position: -672px 0;
}
.flag_ck {
    background-position: -688px 0;
}
.flag_cl {
    background-position: -704px 0;
}
.flag_cm {
    background-position: -720px 0;
}
.flag_cn {
    background-position: -736px 0;
}
.flag_co {
    background-position: -752px 0;
}
.flag_cr {
    background-position: -768px 0;
}
.flag_cs {
    background-position: -784px 0;
}
.flag_cu {
    background-position: -800px 0;
}
.flag_cv {
    background-position: -816px 0;
}
.flag_cx {
    background-position: -832px 0;
}
.flag_cy {
    background-position: -848px 0;
}
.flag_cz {
    background-position: -864px 0;
}
.flag_de {
    background-position: -880px 0;
}
.flag_dj {
    background-position: -896px 0;
}
.flag_dk {
    background-position: -912px 0;
}
.flag_dm {
    background-position: -928px 0;
}
.flag_do {
    background-position: -944px 0;
}
.flag_dz {
    background-position: -960px 0;
}
.flag_ec {
    background-position: -976px 0;
}
.flag_ee {
    background-position: -992px 0;
}
.flag_eg {
    background-position: -1008px 0;
}
.flag_eh {
    background-position: -1024px 0;
}
.flag_en {
    background-position: -1040px 0;
}
.flag_er {
    background-position: -1056px 0;
}
.flag_es, .flag_net {
    background-position: -1072px 0;
}
.flag_et {
    background-position: -1088px 0;
}
.flag_europeanunion {
    background-position: -1104px 0;
}
.flag_fam {
    background-position: -1120px 0;
}
.flag_fi {
    background-position: -1136px 0;
}
.flag_fj {
    background-position: -1152px 0;
}
.flag_fk {
    background-position: -1168px 0;
}
.flag_fm {
    background-position: -1184px 0;
}
.flag_fo {
    background-position: -1200px 0;
}
.flag_fr {
    background-position: -1216px 0;
}
.flag_ga {
    background-position: -1232px 0;
}
.flag_uk, .flag_gb {
    background-position: -1248px 0;
}
.flag_gd {
    background-position: -1264px 0;
}
.flag_ge {
    background-position: -1280px 0;
}
.flag_gf {
    background-position: -1296px 0;
}
.flag_gh {
    background-position: -1312px 0;
}
.flag_gi {
    background-position: -1328px 0;
}
.flag_gl {
    background-position: -1344px 0;
}
.flag_gm {
    background-position: -1360px 0;
}
.flag_gn {
    background-position: -1376px 0;
}
.flag_gp {
    background-position: -1392px 0;
}
.flag_gq {
    background-position: -1408px 0;
}
.flag_gr {
    background-position: -1424px 0;
}
.flag_gs {
    background-position: -1440px 0;
}
.flag_gt {
    background-position: -1456px 0;
}
.flag_gu {
    background-position: -1472px 0;
}
.flag_gw {
    background-position: -1488px 0;
}
.flag_gy {
    background-position: -1504px 0;
}
.flag_hk {
    background-position: -1520px 0;
}
.flag_hm {
    background-position: -1536px 0;
}
.flag_hn {
    background-position: -1552px 0;
}
.flag_hr {
    background-position: -1568px 0;
}
.flag_ht {
    background-position: -1584px 0;
}
.flag_hu {
    background-position: -1600px 0;
}
.flag_id {
    background-position: -1616px 0;
}
.flag_ie {
    background-position: -1632px 0;
}
.flag_il {
    background-position: -1648px 0;
}
.flag_in {
    background-position: -1664px 0;
}
.flag_io {
    background-position: -1680px 0;
}
.flag_iq {
    background-position: -1696px 0;
}
.flag_ir {
    background-position: -1712px 0;
}
.flag_is {
    background-position: -1728px 0;
}
.flag_it {
    background-position: -1744px 0;
}
.flag_jm {
    background-position: -1760px 0;
}
.flag_jo {
    background-position: -1776px 0;
}
.flag_jp {
    background-position: -1792px 0;
}
.flag_ke {
    background-position: -1808px 0;
}
.flag_kg {
    background-position: -1824px 0;
}
.flag_kh {
    background-position: -1840px 0;
}
.flag_ki {
    background-position: -1856px 0;
}
.flag_km {
    background-position: -1872px 0;
}
.flag_kn {
    background-position: -1888px 0;
}
.flag_kp {
    background-position: -1904px 0;
}
.flag_kr {
    background-position: -1920px 0;
}
.flag_kw {
    background-position: -1936px 0;
}
.flag_ky {
    background-position: -1952px 0;
}
.flag_kz {
    background-position: -1968px 0;
}
.flag_la {
    background-position: -1984px 0;
}
.flag_lb {
    background-position: -2000px 0;
}
.flag_lc {
    background-position: -2016px 0;
}
.flag_li {
    background-position: -2032px 0;
}
.flag_lk {
    background-position: -2048px 0;
}
.flag_lr {
    background-position: -2064px 0;
}
.flag_ls {
    background-position: -2080px 0;
}
.flag_lt {
    background-position: -2096px 0;
}
.flag_lu {
    background-position: -2112px 0;
}
.flag_lv {
    background-position: -2128px 0;
}
.flag_ly {
    background-position: -2144px 0;
}
.flag_ma {
    background-position: -2160px 0;
}
.flag_mc {
    background-position: -2176px 0;
}
.flag_md {
    background-position: -2192px 0;
}
.flag_me {
    background-position: -2208px 0;
}
.flag_mg {
    background-position: -2224px 0;
}
.flag_mh {
    background-position: -2240px 0;
}
.flag_mk {
    background-position: -2256px 0;
}
.flag_ml {
    background-position: -2272px 0;
}
.flag_mm {
    background-position: -2288px 0;
}
.flag_mn {
    background-position: -2304px 0;
}
.flag_mo {
    background-position: -2320px 0;
}
.flag_mp {
    background-position: -2336px 0;
}
.flag_mq {
    background-position: -2352px 0;
}
.flag_mr {
    background-position: -2368px 0;
}
.flag_ms {
    background-position: -2384px 0;
}
.flag_mt {
    background-position: -2400px 0;
}
.flag_mu {
    background-position: -2416px 0;
}
.flag_mv {
    background-position: -2432px 0;
}
.flag_mw {
    background-position: -2448px 0;
}
.flag_mx {
    background-position: -2464px 0;
}
.flag_my {
    background-position: -2480px 0;
}
.flag_mz {
    background-position: -2496px 0;
}
.flag_na {
    background-position: -2512px 0;
}
.flag_nc {
    background-position: -2528px 0;
}
.flag_ne {
    background-position: -2544px 0;
}
.flag_nf {
    background-position: -2560px 0;
}
.flag_ng {
    background-position: -2576px 0;
}
.flag_ni {
    background-position: -2592px 0;
}
.flag_nl {
    background-position: -2608px 0;
}
.flag_no {
    background-position: -2624px 0;
}
.flag_np {
    background-position: -2640px 0;
}
.flag_nr {
    background-position: -2656px 0;
}
.flag_nu {
    background-position: -2672px 0;
}
.flag_nz {
    background-position: -2688px 0;
}
.flag_om {
    background-position: -2704px 0;
}
.flag_pa {
    background-position: -2720px 0;
}
.flag_pe {
    background-position: -2736px 0;
}
.flag_pf {
    background-position: -2752px 0;
}
.flag_pg {
    background-position: -2768px 0;
}
.flag_ph {
    background-position: -2784px 0;
}
.flag_pk {
    background-position: -2800px 0;
}
.flag_pl {
    background-position: -2816px 0;
}
.flag_pm {
    background-position: -2832px 0;
}
.flag_pn {
    background-position: -2848px 0;
}
.flag_pr {
    background-position: -2864px 0;
}
.flag_ps {
    background-position: -2880px 0;
}
.flag_pt {
    background-position: -2896px 0;
}
.flag_pw {
    background-position: -2912px 0;
}
.flag_py {
    background-position: -2928px 0;
}
.flag_qa {
    background-position: -2944px 0;
}
.flag_re {
    background-position: -2960px 0;
}
.flag_ro {
    background-position: -2976px 0;
}
.flag_rs {
    background-position: -2992px 0;
}
.flag_ru {
    background-position: -3008px 0;
}
.flag_rw {
    background-position: -3024px 0;
}
.flag_sa {
    background-position: -3040px 0;
}
.flag_sb {
    background-position: -3056px 0;
}
.flag_sc {
    background-position: -3072px 0;
}
.flag_scotland {
    background-position: -3088px 0;
}
.flag_sd {
    background-position: -3104px 0;
}
.flag_se {
    background-position: -3120px 0;
}
.flag_sg {
    background-position: -3136px 0;
}
.flag_sh {
    background-position: -3152px 0;
}
.flag_si {
    background-position: -3168px 0;
}
.flag_sj {
    background-position: -3184px 0;
}
.flag_sk {
    background-position: -3200px 0;
}
.flag_sl {
    background-position: -3216px 0;
}
.flag_sm {
    background-position: -3232px 0;
}
.flag_sn {
    background-position: -3248px 0;
}
.flag_so {
    background-position: -3264px 0;
}
.flag_sr {
    background-position: -3280px 0;
}
.flag_st {
    background-position: -3296px 0;
}
.flag_sv {
    background-position: -3312px 0;
}
.flag_sy {
    background-position: -3328px 0;
}
.flag_sz {
    background-position: -3344px 0;
}
.flag_tc {
    background-position: -3360px 0;
}
.flag_td {
    background-position: -3376px 0;
}
.flag_tf {
    background-position: -3392px 0;
}
.flag_tg {
    background-position: -3408px 0;
}
.flag_asia {
    background-position: -3424px 0;
}
.flag_tj {
    background-position: -3440px 0;
}
.flag_tk {
    background-position: -3456px 0;
}
.flag_tl {
    background-position: -3472px 0;
}
.flag_tm {
    background-position: -3488px 0;
}
.flag_tn {
    background-position: -3504px 0;
}
.flag_to {
    background-position: -3520px 0;
}
.flag_tr {
    background-position: -3536px 0;
}
.flag_tt {
    background-position: -3552px 0;
}
.flag_tv {
    background-position: -3568px 0;
}
.flag_tw {
    background-position: -3584px 0;
}
.flag_tz {
    background-position: -3600px 0;
}
.flag_ua {
    background-position: -3616px 0;
}
.flag_ug {
    background-position: -3632px 0;
}
.flag_um {
    background-position: -3648px 0;
}
.flag_us {
    background-position: -3664px 0;
}
.flag_uy {
    background-position: -3680px 0;
}
.flag_uz {
    background-position: -3696px 0;
}
.flag_va {
    background-position: -3712px 0;
}
.flag_vc {
    background-position: -3728px 0;
}
.flag_ve {
    background-position: -3744px 0;
}
.flag_vg {
    background-position: -3760px 0;
}
.flag_vi {
    background-position: -3776px 0;
}
.flag_vn {
    background-position: -3792px 0;
}
.flag_vu {
    background-position: -3808px 0;
}
.flag_wales {
    background-position: -3824px 0;
}
.flag_wf {
    background-position: -3840px 0;
}
.flag_ws {
    background-position: -3856px 0;
}
.flag_ye {
    background-position: -3872px 0;
}
.flag_yt {
    background-position: -3888px 0;
}
.flag_za {
    background-position: -3904px 0;
}
.flag_zm {
    background-position: -3920px 0;
}
.flag_zw {
    background-position: -3936px 0;
}
.flag_com {
    background-position: -3952px 0;
}
#country_select {
    height: 23px;
}
#navigation-container {
   background-image: url("../img/nav-bg.png");
   background-repeat: repeat-x;
   height: 23px;
}